{%load static%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'core/css/Estilospag.css'%}"> 
    
    <title>Identificadores</title>
</head>

<body class="identificaciones">
     <!-- MENU -->

              <div class="Margen">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
                    {% load static%}
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <img src="{% static 'core/img/Logoperro.png'%}" alt="" width="50" height="46" class="d-inline-block align-text-top">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'Mascotas' %}">Inicio</a>
                                </li>
                                </a>
                                </li>
                                <li class="nav-item">
                                  <a href="" class="btn">Comprar</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="Pagina2.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Tienda
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'bandanas' %}">Bandanas</a></li>
                                        <li><a class="dropdown-item" href="{% url 'correas' %}">Correas</a></li>
                                        <li><a class="dropdown-item" href="{% url 'identificaciones' %}">Identificaciones</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
        
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="buscar" placeholder="Buscar" aria-label="buscar">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            </div>
    <h1 id="identificador">Identificador perro: Plomo</h1>
        
    <div class="center">
        <p>
            <li class="fw-bolder">Identificador de perro.
            </li>
            <li class="fw-bolder">
                Este producto está hecho en Argentina
            </li>
            <li class="fw-bolder">
                Necesita tener una correa para colocarle este identificador a su mascota.
            </li>
            <li class="fw-bolder">
                Esta fabricado con metal y plástico, aseguramos la calidad de este producto.
            </li>
            <li class="fw-bolder">
                Tiene un largo x ancho de 5 cm y 4.6 cm.
            </li>

        </p>
        </div>
    <div class="row">
        <div class="col-sm">
            {% load static%}   
          <div class="card w-90 card-border mb-5">
            <img  src="{% static 'core/img/chapa.png'%}" alt="" class="chapa">
            <div class="card-body">
                <h5>Identificador</h5>
                <button type="button" class="btn btn-secondary disabled">#96836</button>
                <button type="button" class="btn btn-light disabled float-end">$2.990</button>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <button type="button" class="btn btn-primary btn-lg">Comprar ahora</button>
            </div>
        </div>
    </div>
</div>

<!-- PIE DE PAGINA -->
<div class="container-fluid bg-light text-center p-3">
    <div>
  </div>
    <p class="small">&copy; todos los derechos son de esta pagina</p>
    <p>Contactanos +56998987253</p>
    <p>Av. Apoquindo 4800, Torre 2, piso 21, Las Condes, Santiago - Chile.</p>
  </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>